*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color:white;
}
.odd{
    color:red;
}
.even{
    color:blue;
}
body{
    background-image: url(hell-inferno-metaphor-souls-entering-600nw-2214585577);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 2%, 10%);
}
.navbar li{
    float: left;
}
header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}
h2{
    color:white;
}
p{
    color:white;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}